{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    {# user는 장고 자체에 내장되있는 것이라서 pyBlog/views.py 에 context처럼 object로 넘겨주는 것이 아님#}
    <div class="content-section">
        <div class="media">
            <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
            <div class="media-body">
                <h2 class="account-heading">{{ user.username }}</h2>
                <p class="text-secondary">{{ user.email }}</p>
            </div>
        </div>
        <!-- FORM HERE -->
    </div>{% endblock content %}
